//Variables
$sectionPadding: 3rem;

.main {
  grid-area: main ;

  .section {
    &-profile {
      .profile {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-areas:
        "aboutme-meta"
        "aboutme-image";

        .main-h2 {
          border-left: 5px solid $primary;
          padding-left: 1rem;
          margin-bottom: 1.5rem;
          font-size: 2rem;
        }

        &-bio {
          grid-area: aboutme-meta ;
          //padding-right: 3rem;

          &-name {
            font-size: 3rem;
          }

          &-job {
            font-size: 1.5rem;
          }

          &-description {
            text-align: justify;
          }
        }

        &-image {
          height: fit-content;
          grid-area: aboutme-image ;
        }
      }
    }

    &-whatido {
      .skills {
        padding: 0;
        @include column-grid(2);

        .skill {
          @include column-grid(2);
          text-align: center;

          &-icon {
            font-size: 2rem;
            line-height: 2;
          }

          &-text {
            text-align: left;
            align-self: center;
            line-height: 2;
          }

          &:hover {
            @include animated;

            color: var(--color);
          }
        }
      }
    }

    &-testimonials {
      .testimonials {
        @include column-grid(1);

        .testimonial {
          background-color: $secondary;
          overflow: hidden;

          .quote {
            position: absolute;
            margin: .5rem;
            color: #fff;
          }

          &::before {
            content: '';
            line-height: 1;
            position: absolute;
            font-size: 4rem;

            border-style: solid;
            border-width: 3.5rem 3.5rem 0 0;
            border-color: $primary transparent transparent transparent;
            -webkit-transform: rotate(360deg);
          }

          &-quote {
            margin: 1.5rem 3rem;
          }

          &-author {
            font-size: .75rem;
            margin: 0 3rem;
          }

          &-job {
            font-size: .65rem;
            margin: 0 3rem 1rem;
          }
        }
      }
    }

    &-projects {
      .projects {
        @include column-grid(1);

        .project {
          margin: 10px 5px;
          border: 1px solid #e5e5e5;

          &-image {
            max-height: 125px;
          }

          &-meta {
            background-color: $secondary;
            padding: 1rem 2rem;

            &-description {
              font-size: .85rem;
            }

            &-client {
              font-size: .75rem;
              color: $secondary-dark;
            }

          }

          &:hover {
            @include animated;
            opacity: 0.8;
          }
        }
      }
    }
  }

  .footer {
    padding: 12px $sectionPadding;
    text-align: right;

    .seperator, a {
      color: #a1a1a1;
    }

    a:hover {
      color: #888888;
    }
  }
}