@import 'mixins';
@import 'colors';
@import 'menu';
@import 'home';
@import 'devicons';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

@import 'responsive';

html {
  font-family: 'Open Sans', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #0e0e0e;
}

hr {
  border-color:rgba(0,0,0,0.08);
  margin: 0 auto;
  width: 90%;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

.main-h2 {
  border-left: 5px solid $primary;
  padding-left: 1rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.btn {
  @include hand;
  display: inline-block;
  background-color: #000;
  padding: .375rem 1rem;
  margin: 1rem .5rem 1rem 0;
  font-weight: 600;
  color: #fff;
  border-radius: .25rem;
  line-height: 1.5;
  vertical-align: middle;
  text-align: center;
}

.btn-primary {
  background-color: $primary;
}

.btn-secondary {
  background-color: $secondary-dark;
}